synData28June/
.synapthesis.Rproj
.ipynb_checkpoints/
.vscode/
.spyproject/
__pycache__/
synData6July/
datasets/
output/
fourier_transform_example/
data/
data10/
data20/
dataout/
data_old/
.RData
.DS_Store/
.Rhistory
images/
miscellanea/
histfigures/
.Rproj.user
